@import url(https://fonts.googleapis.com/css?family=Lato);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar.default-layout {
  background: linear-gradient(120deg, #4a0a5d, #b81554);
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
}

.navbar.default-layout .navbar-brand-wrapper {
  background: transparent;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand {
  padding: 0.25rem 0;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand:active,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus,
.navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
  color: #e31950;
}

.sidebar .nav .nav-item .nav-link .menu-icon {
  font-size: 24px;
}

