<template>
    <div class="card card-default">
        <div class="card-header">Example Component</div>
        <div class="card-body">
            I'm an VUE.js component.
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
